<section class="hero">

  <div class="left">

    

    <h1>
      SHIVA RANGU
    </h1>

    <p class="availability">
      JAVA SOFTWARE DEVELOPER
    </p>

    <p class="description">
      Results-driven Java Software Developer with 3+ years of experience designing, 
      developing, and maintaining scalable microservices-based web applications. 
      Proficient in Java, Spring Boot, Microservices, RESTful APIs, GraphQL, Sql and AWS cloud services
    </p>

   <div class="buttons">

<div class="buttons">

  <a class="primary-btn"
     href="https://mail.google.com/mail/?view=cm&fs=1&to=rangushiva2017@gmail.com"
     target="_blank">
    Email Me
  </a>

  <a class="secondary-btn"
     href="tel:+919573570449">
    +91 9573570449
  </a>

</div>

</div>

</div>

<div class="right">
  <img src="/PROFILE.jpg" alt="Profile Image">
</div>
</section>

<section class="skills">

  <div class="skill">
    <i class="fas fa-code"></i>
    Java | Spring Boot
  </div>

  <div class="skill">
    <i class="fas fa-server"></i>
    Microservices
  </div>

  <div class="skill">
    <i class="fas fa-cloud"></i>
    AWS
  </div>

  <div class="skill">
    <i class="fas fa-database"></i>
    SQL | DynamoDB
  </div>

  <div class="skill">
    <i class="fas fa-network-wired"></i>
    REST | GraphQL
  </div>

  <div class="skill">
    <i class="fas fa-code-branch"></i>
    CI/CD
  </div>
  <div class="skill">
  <i class="fab fa-docker"></i>
  Docker | Kubernetes
</div>

<div class="skill">
  <i class="fas fa-stream"></i>
  Kafka
</div>

<div class="skill">
  <i class="fab fa-angular"></i>
  Angular
</div>


</section>
<section class="stats-section">

  <div class="stat-card">
    <h2>3+</h2>
    <p>
      Years building backend <br>
      systems
    </p>
  </div>

  <div class="stat-card">
    <h2>80–85%</h2>
    <p>
      Unit test coverage <br>
      achieved
    </p>
  </div>

  <div class="stat-card">
    <h2>15+</h2>
    <p>
      Microservices <br>
      deployed
    </p>
  </div>
</section>
<!-- CERTIFICATIONS SECTION -->
<section class="certifications-section">

  <div class="section-header">
    <p class="section-tag">PROFESSIONAL CERTIFICATIONS</p>
    <h2>Certifications</h2>
  </div>

  <div class="certifications-grid">

    <!-- CERTIFICATION 1 -->
    <div class="cert-card">

      <div class="cert-top">
        <div class="cert-icon">
          <i class="fab fa-github"></i>
        </div>

        <div class="cert-info">
          <h3>GitHub Foundations</h3>
          <p>GitHub</p>
        </div>
      </div>

      <div class="cert-validity">
        Valid through Mar 2028
      </div>

      <div class="cert-buttons">
       <a href="/github.jpg"
   target="_blank"
   class="view-btn">
  View Certificate
</a>
       <a href="https://www.credly.com/badges/0ece2789-3261-4aa9-b151-e6c6f9d523f7/print"
   target="_blank"
   class="validate-btn">
  Validate
</a>
      </div>

    </div>

    <!-- CERTIFICATION 2 -->
<div class="cert-card">

  <div class="cert-top">
    <div class="cert-icon aws">
      <i class="fab fa-aws"></i>
    </div>

    <div class="cert-info">
      <h3>AWS Certified Cloud Practitioner</h3>
      <p>Amazon Web Services</p>
    </div>
  </div>

  <div class="cert-validity">
    Valid through Apr 2029
  </div>

  <div class="cert-buttons">

    <!-- Open Certificate Image -->
  <a href="/aws.png"
   target="_blank"
   class="view-btn">
  View Certificate
</a>

    <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential"
   target="_blank"
   class="validate-btn">
  Validate
</a>

  </div>

    </div>

  </div>

</section>

<footer class="footer">

  <div class="footer-left">
     Shiva Rangu
  </div>

  <div class="footer-right">

    <a href="https://www.linkedin.com/in/shivarangu"
       target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="https://github.com/shivapatel-r"
       target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rangushiva2017@gmail.com"
       target="_blank">
      <i class="far fa-envelope"></i>
    </a>
     

  </div>

</footer>